*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*navbar start*/
.navbar{
	background: white;
	width: 100%;
	height: 50px;
	display: flex;
    align-items: center;
    padding: 0 54px;
    justify-content: space-between;
    float: left;
    position: fixed;

}
.logo img{
	height: 110px;
	width: 145px;
}
.menu a{
	color: #d70f64;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	margin: 0 10px;
}
/*navbar end*/
/*banner start*/

.banner img{
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
}
.headline{
	text-align: center;
	color: white;
	font-weight: bold;
	margin-top: -305px;
}
/*banner end*/
/*flag bar start*/
.flagbar{
	background: #00000038;
	width: 100%;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	float: left;
	margin-top: 284px;
}
.country-flags{
	margin: 5px 0px;
	box-sizing: border-box;
}
.country-flags img{
	height: 30px;
	margin: 5px;
	border-radius: 3px;
}
.headline2{
	color: white;
	font-family: sans-serif;
	margin-top: 3px;
    padding-left: 130px;
    letter-spacing: 1px;
}
/*flagbar end*/
/*about start*/
.about{
	background-color: white;
	text-align: center;
	padding: 75px 300px;
}
.about h1{
	text-align: center;
	color: #d70f64;
	font-family: "museo-sans",sans-serif;
	letter-spacing: 1px;
	margin-top: 345px;
}
.about p{
	font-size: 18px;
	text-align: center;
	color: black;
	letter-spacing: 1px;
	margin-top: 37px;
	font-family: system-ui;
}
.about button{
	background-color: #d70f64;
	text-align: center;	
	width: 255px;
	height: 50px;
	color: white;
	font-family: sans-serif;
	border: 1px solid #d70f64;
	margin-top: 83px;
	margin-left: 30px;
}
/*about end*/
/*careers start*/
.careers{
	background-image: url(../image/back3.jpg);/*bhotache se dhyn rkhna ye dot aata hai*/ 
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 550px;
	background-attachment: fixed;
}
.careers h1{
	text-align: center;
	color: #d70f64;
	font-family: "museo-sans",sans-serif;
	letter-spacing: 1px;
	padding: 195px;
}
.careers p{
	font-size: 20px;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	margin-top: -165px;
	font-family: sans-serif;
}
.careers button{
	background-color: #d70f64;
	text-align: center;	
	width: 255px;
	height: 50px;
	color: white;
	font-family: sans-serif;
	border: 1px solid #d70f64;
	margin-top: 42px;
    margin-left: 555px;
}
/*careers end*/
/*press start*/

.press{
	background-image: url(../image/back4.jpg);/*bhotache se dhyn rkhna ye dot aata hai*/ 
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 550px;
	background-attachment: fixed;
	padding: 5px 213px;
}
.press h1{
	text-align: center;
	color: #d70f64;
	font-family: "museo-sans",sans-serif;
	letter-spacing: 1px;
	padding: 215px;
}
.press p{
	font-size: 20px;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	margin-top: -180px;
	font-family: sans-serif;
}
.press button{
	background-color: #d70f64;
	text-align: center;	
	width: 255px;
	height: 50px;
	color: white;
	font-family: sans-serif;
	border: 1px solid #d70f64;
	margin-top: 40px;
    margin-left: 347px;
}
/*press end*/
/*contact start*/
.contact{
	background-color: #d70f64;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 550px;
	background-attachment: fixed;
	padding: 5px 213px;
}
.contact h1{
	text-align: center;
	color: white;
	font-family: "museo-sans",sans-serif;
	letter-spacing: 1px;
	padding: 215px;
}
.contact p{
	font-size: 20px;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	margin-top: -180px;
	font-family: sans-serif;
}
.contact button{
	background-color: white;
	text-align: center;	
	width: 255px;
	height: 50px;
	color: #d70f64;
	font-family: sans-serif;
	border: 1px solid white;
	margin-top: 40px;
    margin-left: 347px;
}
/*contact end*/
/*footer start*/
footer{
	width: 100%;
	height: 130px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.footer img{
	height: 144px;
    margin-left: 34px;
}
.footer p{
	font-size: 16px;
	margin-left: 61px;
    margin-top: -44px;
}
.footer-icon{
	text-align: right;
	margin-left: 800px;
	box-sizing: border-box;
}
.footer-icon img{
	margin-top: 34px;
    height: 54px;
    padding: 0px 0px 17px 0px;
}
.footer-menu{
	margin-top: -8px;
    margin-right: -43px;
}
}
.footer-menu a{
	text-decoration: none;
	font-size: 16px;
	font-family: sans-serif;
	color: black;
	padding: 15px;
}